<%= simple_form_for Quote.new,
                    html: {
                      class: "quote form"
                      
                    } do |f| %>

  <% if Quote.new.errors.any? %>
    <div class="error-message">
      <%= Quote.new.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
<%= link_to "Back", quotes_path %>